@font-face
{
	font-family: 'bodyPolice';
	src: url('OpenSans-LightItalic.ttf');
}
header
{
	text-align: center;
	background-color: #9564ff;
	color: #eae1ff;
	height: 92px;
	position: fixed;
	left: 0;
	top: 0;
	border-bottom: 1px black solid;
	box-shadow: 0px 3px 7px #a9a9a9;
	width: 100%;
	z-index: 1;
}
body 
{
	background-color: #fefff0;
}
#corps
{
	display: flex;
	margin-top: 100px;
	
}
#form
{
	width: 70%;
	padding: 3%;
}
#legend
{
	font-size: 1.6em;
}
#legendModif
{
	display: none;
	position: relative;
	bottom: 40px;
}
.champs
{
	margin: 1%;
	padding: 1%;
	position: relative;
}
.champs:hover
{
	border: 1px #b3b3b3 solid;
	border-radius: 5px/5px;
}
.champs input
{
	margin-left: 2%;
}
.selected
{
	border: 1px #b3b3b3 solid;
	border-radius: 0px 0px 0px 0px ;
	box-shadow: 1px 1px 5px 2px #b3b3b3;
}
.plus 
{
	height: 50px;
	width: 50px;
	position: relative;
	left: 15px;
	top: 7px;
	border: 1px #b3b3b3 solid;
	border-radius: 3px/3px;
}
.plus:hover
{
	border: 1px #b3b3b3 solid;
	border-radius: 3px/3px;
	box-shadow: 1px 1px 5px 2px #b3b3b3;
	cursor: pointer;
}
.plus:active
{
	box-shadow: 0px 0px  #fff;
}
.plus-show
{
	display: none;
}
#genForm
{
	height: 470px;
	margin: 10px;
	padding: 5px;
	background-color: #f6ecff;
	border: 2px #decfff solid;
	border-radius: 5px/8px;
	position: fixed;
	right: 2px;
}
#modification
{
	position: absolute;
	width: 100%;
	bottom: 2%;
	left: 4%;
	z-index: 2;
}
#warning
{
	color: #fff;
}
.btn-new
{
	background-color: #9564ff;
}
.btn-new {
  color: #fff;
  background-color: #9564ff;
  border-color: #9564ff;
}

.btn-new:hover {
  color: #fff;
  background-color: #874fff;
  border-color: #9564ff;
}

.btn-new:focus, .btn-new.focus {
  box-shadow: 0 0 0 0.2rem rgba(210, 190, 255, 1);
}

.btn-new.disabled, .btn-new:disabled {
  color: #fff;
  background-color: #9564ff;
  border-color: #9564ff;
}

.btn-new:not(:disabled):not(.disabled):active, .btn-new:not(:disabled):not(.disabled).active,
.show > .btn-new.dropdown-toggle {
  color: #fff;
  background-color: #9564ff;
  border-color: #9564ff;
}

.btn-new:not(:disabled):not(.disabled):active:focus, .btn-new:not(:disabled):not(.disabled).active:focus,
.show > .btn-new.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(210, 190, 255, 1);
}

